@font-face {
  font-family: 'ProximaSoftMark';
  src: url('proxima-soft-medium-mark.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaSoftYWFT';
  src: url('proxima-soft-medium-ywft.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

textarea {
  width: 700px;
  height: 100px;
  font-family: sans-serif;
}

input.mark, textarea.mark {
  font-family: 'ProximaSoftMark';
}

input.ywft, textarea.ywft {
  font-family: 'ProximaSoftYWFT';
}
