@font-face {
  font-family: 'ProximaSoft';
  src: url('proxima-soft-medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

textarea {
  width: 700px;
  height: 100px;
  font-family: sans-serif;
}

input.proximasoft, textarea.proximasoft {
  font-family: 'ProximaSoft';
}
